.JokeGenerator-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 75vh;
    background-color: #5a189a;
    color: white;
}

.JokeGenerator-container h1 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.JokeGenerator-container h2 {
    font-size: 7em;
    margin: 20px;
}

.JokeGenerator-btn {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #e76f51;
    color: white;
    font-size: 20px;
    width: 50%;
    height: 10%;
    border-radius: 10px;
    border: none;
    align-self:center;
}